.ErrorPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 66vh;
    text-align: center;
}

.ErrorPage h1 {
    font-size: 5rem;
    margin-bottom: 1rem;
    color: var(--green);
}

.ErrorPage h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
    color: white;
}