.wrapper {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    gap: 3rem;
    padding: 1rem 5rem;

    background-color: var(--green);
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
}

/* .wrapper img {
    width: 8rem;
    height: fit-content;
} */

.rectangle{
    position:absolute;
    margin-left: -20px;
    margin-top: 3px;
    width: 4px;
    height: 80px;
    background: #192026;
}

.info h2 {
    font-size: clamp(1rem, 3vw, 2rem);
    font-weight: 400;
    color: var(--dark-blue);
    text-align: flex-start;
    width: fit-content;
}

.info p {
    font-size: clamp(0.8rem, 2vw, 1rem);
    font-weight: 400;
    color: var(--dark-blue);
    text-align: flex-start;
    width: fit-content;
}

.logos {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.social{
    margin-top: 10px;
    margin-right: 10px;
}

.icon {
    width: 12rem;
    cursor: pointer;
}