#contenedor {
	display: flex;
	align-items: center;
	justify-content: center;

	margin: 0;
	padding: 0;
	min-width: 100vw;
	min-height: 100vh;
	width: 100%;
	height: 100%;
}

#central {
	max-width: 320px;
	width: 100%;
	margin-left: 30%;
}

.titulo {
	font-size: 250%;
	color: white;
	text-align: left;
	margin-bottom: 20px;
}

#login {
	width: 100%;
	padding: 50px 30px;
	background-color: var(--dark-blue);

	border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px 3px 3px 3px;
	-webkit-border-radius: 3px 3px 3px 3px;

	box-sizing: border-box;
}

#login input {
	font-family: 'Overpass', sans-serif;
	font-size: 110%;
	color: var(--dark-blue);

	display: block;
	width: 100%;
	height: 40px;

	margin-bottom: 10px;
	padding: 5px 5px 5px 10px;

	box-sizing: border-box;

	border: solid;
	border-radius: 15px;
}

#login input::placeholder {
	font-family: 'Overpass', sans-serif;
	color: #e4e4e4;
}

#login button {
	font-family: 'Overpass', sans-serif;
	font-size: 110%;
	color: var(--dark-blue);
	width: 100%;
	height: 40px;
	border: solid;

	border-radius: 50px;

	background-color: var(--green);

	margin-top: 10px;
}

#login button:hover {
	background-color: var(--dark-blue);
	color: var(--green);
}

.pieform {
	font-size: 90%;
	text-align: center;
	margin-top: 15px;
}

.pieform a {
	display: block;
	text-decoration: none;
	color: white;
	margin-bottom: 3px;
}

.pieform a:hover {
	color: var(--green);
}

.inferior {
	margin-top: 10px;
	font-size: 90%;
	text-align: center;
}

.inferior a {
	display: block;
	text-decoration: none;
	color: white;
	margin-bottom: 3px;
}

.inferior a:hover {
	color: var(--green);
}
