.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    padding: 1rem 5rem;

    background-color: var(--dark-blue);
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
}

.icon {
    width: 2rem;
    height: 3rem;
    cursor: pointer;
}

.logo {
    width: 8rem;
    height: fit-content;
}

/* .wrapper img {
    width: 8rem;
    height: fit-content;
} */

.greenLine {
    width: 0.5rem;
    height: 0.1rem;
    background-color: var(--green);
    width: 100%;
}

.ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;

    gap:1rem;
    list-style: none;
    padding: 0;
    margin: 0;
}

.navLink {
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--white);
}

.navLink:hover {
    color: var(--green);
}

.selected {
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--white);
}

.selected::after {
    content: "";
    display: block;
    width: 100%;
    height: 0.1rem;
    background-color: var(--green);
}

