.Card {
	display: flex;
}

.rectanguloreceta {
	width: 85%;
	height: 15.8rem;
	margin: auto;
	background: #192026;
	border-radius: 20px;
}

.typemeal {
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 48px;
	padding: 15px 0px 0px 25px;
	color: #ffffff;
	margin-bottom: 0px;
}

.caloriesmeal {
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
	padding-left: 25px;
	color: #ffffff;
}

.informacion {
	display: flex;
}

.imagen {
	background: #a8a8a8;
	width: 100px;
	height: 100px;
	margin-top: 20px;
	margin-left: 25px;
	border: solid;
	border-color: #192026;
	border-radius: 20px;
}

.nombrereceta {
	color: white;
	font-size: 32px;
	margin-top: 50px;
	margin-left: 40px;
}

.cantidad {
	color: white;
	font-size: 30px;
	margin-left: 200px;
	margin-top: 51px;
}
