h1,
ul,
li,
p {
	color: white;
}

.exercisecontainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 2rem;
}

.exercisecontainer h1 {
	font-size: 3rem;
	margin-top: 40px;
	color: var(--green);
}


.lineadivisoria {
	width: 100%;
	border: none;
	height: 1px;
	background-color: var(--green);
	margin-top: 40px;
}

.comentarioscontainer {
	padding: 2rem;
	width: 100%;
	background-color: #384350;
	border-radius: 0.5rem;
	margin-top: 40px;
}

.commentWrapper {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	gap: 1rem;
}

.commentItem{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	gap: 0.2rem;
	background-color: #262c33;
	padding: 1rem;
	border-radius: 0.5rem;
}

.username {
	color: var(--green);
	font-size: 1rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	gap: 0.5rem;
}

.txtComentarios {
	color: white;
	font-size: 1.5rem;
	margin-top: 20px;
}

@media screen and (max-width: 768px) {
	.exercisecontainer {
		width: 100%;
	}
	.comentarioscontainer {
		width: 85%;
	}
}
	

