.wrapper {
	width: 100%;
	display: flex;
	padding-left: 2rem;
	gap: 2rem;
	margin-top: 1rem;
}

.item {
	width: 100%;
	display: flex;
	justify-content: center;
	padding: 1rem;
	background-color: #384350;
	border-radius: 0.5rem;
	color: #fff;
}

.item:hover {
	cursor: pointer;
	border: 1px solid var(--green);
}


@media screen and (max-width: 768px) {
	.item {
		width: 75px;
	}
}

	
