@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
    --dark-blue: #192026;
    --green: #BBF246;
    --white : #FFFFFF;
}

body {
    font-family: 'Bebas Neue', sans-serif;
    background-color: var(--dark-blue);
}
